html {
    scroll-behavior: smooth; 
}
body {
    margin: 0;
    padding: 0;
 font-family: "Quicksand", sans-serif;

 .annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
 
 

}

    background-color: #111;
    color: #ece5e5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: 
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    animation: twinkle 5s linear infinite;
}
@keyframes twinkle {
    0%, 100% { background-color: black; }
    50% { background-color: #111; }
}




.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
    background: transparent;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.1rem;
    transition: color 0.3s;
    margin-right: 10px;
}

.navbar a:hover {
    color: #00bcd4;
}


.hero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}
.hero-text h1 {
    font-size: 4rem;
    margin: 0;
}

.hero-text p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #aaa;
}


