body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
    overflow-x: hidden;
    height: 3000px;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100px; 
    height: 100%;
    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    animation: starsMove 50s linear infinite;
    z-index: -1;
}


body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100px; 
    height: 100%;
    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    animation: starsMove 50s linear infinite;
    z-index: -1;
}

@keyframes starsMove {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}

.back-arrow {
    position: fixed;
    top: 20px;       
    left: 40px;      
    font-size: 50px; 
    color: white;   
    text-decoration: none; 
    font-weight: bold;
    z-index: 10;
}
.back-arrow:hover {
    color: #00bcd4; 
}


section h1 {
    font-size: 50px;      
    margin-bottom: 10px; 
    margin-left: 150px; 
    text-align: left;   
}
section h3 {
    font-size: 24px;       
    color: #aaa;          
    margin-bottom: 100px;   
    margin-left: 150px;
    text-align: left;   

}
.text-button {
    display: inline-block;       
    background: transparent;    
     color: #aaa;             
    font-size: 26px;            
    cursor: pointer;            
    text-decoration: none;    
    transition: transform 0.3s ease, color 0.3s ease;
}


.text-button:hover {
    transform: scale(1.2);       
      color: #00bcd4;            
    text-decoration: none;       
}


.photo-gallery {
    display: flex;
    flex-direction: column; 
    gap: 500px; 
    align-items: center;
    padding: 50px 20px;
}

.photo-item {
    position: relative;
    width: 80%;      
    max-width: 500px; 
    overflow: hidden;
    cursor: pointer;
}

.photo-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.photo-item:hover img {
    transform: scale(1.05); 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6); 
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.photo-item:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin: 0;
    font-size: 28px;
}

.overlay p {
    margin-top: 10px;
    font-size: 16px;
}

